.requestList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

@media (min-width: 768px) {
  .requestList {
    gap: 20px;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .requestList {
    gap: 24px;
    justify-content: flex-start;
  }
}
